apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- pvc.yaml
- deployment.yaml
- ingress.yaml
images:
- name: floaty
  newName: registry.dazgupta.com/floaty
  newTag: v0.0.21
