apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: floaty-data
  namespace: apps
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 250Mi
